root = true
[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
charset = utf-8
[*.{json,yml,yaml,razor,css,js,md,props,csproj,slnx}]
indent_size = 2
[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
dotnet_sort_system_directives_first = true
csharp_prefer_braces = when_multiline:suggestion
